<ion-view view-title="Inicio" class="home" hide-back-button="true">
    <ion-content>
        <ul class="home__buttons">
            <li class="home__buttons__item">
                <a href="#" class="home__buttons__link">
                    <img src="img/home_btn1.png" class="home__buttons__img">
                    <h3 class="home__buttons__title">EXPLORA</h3>
                    <h4 class="home__buttons__subtitle">Descubre nuestra fauna</h4>
                </a>
            </li>
            <li class="home__buttons__item">
                <a href="#/app/reconoce" class="home__buttons__link">
                    <img src="img/home_btn2.png" class="home__buttons__img">
                    <h3 class="home__buttons__title">RECONOCE</h3>
                    <h4 class="home__buttons__subtitle">Detector de especies</h4>
                </a>
            </li>
            <li class="home__buttons__item">
                <a href="#" class="home__buttons__link">
                    <img src="img/home_btn3.png" class="home__buttons__img">
                    <h3 class="home__buttons__title">DESCUBRE</h3>
                    <h4 class="home__buttons__subtitle">Denuncia el tráfico ilegal</h4>
                </a>
            </li>
        </ul>

    </ion-content>
</ion-view>
