<ion-view view-title="EXPLORA" class="explora bar__large" hide-back-button="true">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>

        <div class="bar__large__subtitle">Descubre nuestra fauna</div>

        <div class="bar__large__image">
            <img src="img/loro_header.png">
        </div>
    </ion-nav-bar>
    <ion-content>
        <div class="explora__filtros">
            <div class="explora__filtros__button">
                <i class="ion-ios-settings-strong"></i> FILTROS
            </div>
        </div>
    </ion-content>
</ion-view>
