<ion-view view-title="EXPLORA" cache-view="false" class="explora bar__large" hide-back-button="true">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>

        <div class="bar__large__subtitle">Descubre nuestra fauna</div>

        <div class="bar__large__image">
            <img src="img/loro_header.png">
        </div>
    </ion-nav-bar>
    <ion-content>
        <div class="explora__filtros">
            <div class="explora__filtros__button">
                <i class="ion-android-options"></i> FILTROS
            </div>
        </div>

        <div class="explora__cards">
            <div class="explora__card" ng-repeat="(key, animal) in animals" ng-click="goAnimal(animal.id)">
                <div class="explora__card__img" ng-if="!offline">
                    <img ng-src="{{ animalImage(animal) }}">
                </div>

                <div class="explora__card__img" ng-if="offline">
                    <img ng-src="img/animales/{{animal.scientific_name.split(' ').join('_')}}.jpg">
                </div>

                <div class="explora__card__name">{{animal.scientific_name}}</div>
                <div class="explora__card__detail">{{animal.common_name}}</div>
                <div class="explora__card__link">Ver detalle <i class="ion-ios-arrow-right"></i></div>

            </div>
        </div>

        <button ng-click="loadMore()" class="button__default button-block">Ver mas</button>
    </ion-content>


</ion-view>
