<ion-view view-title="RECONOCE" class="reconoce bar__large" hide-back-button="true">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>

        <div class="bar__large__subtitle">Detector de especies</div>

        <div class="bar__large__image">
            <img src="img/loro_header.png">
        </div>
    </ion-nav-bar>
    <ion-content>
        <div class="reconoce__pregunta" ng-if="isQuestion(1)">
            <div class="reconoce__pregunta__title">¿A qué grupo pertenece?</div>

            <div class="reconoce__pregunta__lista">
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--1">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('taxonomia', 'aves') }" ng-click="setFilter('taxonomia', 'aves')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/ave.png" width="41" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">AVE</div>
                    </div>
                </div>
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--1">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('taxonomia', 'mammalia') }" ng-click="setFilter('taxonomia', 'mammalia')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/mamifero.png" width="53" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">MAMÍFERO</div>
                    </div>
                </div>
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--1">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('taxonomia', 'reptilia') }" ng-click="setFilter('taxonomia', 'reptilia')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/reptil.png" width="89" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">REPTIL</div>
                    </div>
                </div>
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--1">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('taxonomia', 'amphibia') }" ng-click="setFilter('taxonomia', 'amphibia')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/anfibio.png" width="54" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">ANFIBIO</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="reconoce__pregunta" ng-if="isQuestion(2) && isFilter('taxonomia', 'aves')">
            <div class="reconoce__pregunta__title">¿A qué tipo pertenece?</div>

            <div class="reconoce__pregunta__lista">
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'loros-grandes-y-guacamayos') }" ng-click="setFilter('grupo', 'loros-grandes-y-guacamayos')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/loros_grandes.png" width="30" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">LOROS GRANDES Y GUACAMAYOS</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'loros-medianos-y-pequenos') }" ng-click="setFilter('grupo', 'loros-medianos-y-pequenos')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/loros_chicos.png" width="48" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">LOROS MEDIANOS Y PEQUEÑOS</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'rapaces') }" ng-click="setFilter('grupo', 'rapaces')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/loros_medianos.png" width="85" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">GAVILANES Y HALCONES</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="reconoce__pregunta" ng-if="isQuestion(2) && isFilter('taxonomia', 'amphibia')">
            <div class="reconoce__pregunta__title">¿A qué tipo pertenece?</div>

            <div class="reconoce__pregunta__lista">
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'ranas') }" ng-click="setFilter('grupo', 'ranas')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/anfibio.png" width="30" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">Ranas</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="reconoce__pregunta" ng-if="isQuestion(2) && isFilter('taxonomia', 'mammalia')">
            <div class="reconoce__pregunta__title">¿A qué tipo pertenece?</div>

            <div class="reconoce__pregunta__lista">
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'perezosos') }" ng-click="setFilter('grupo', 'perezosos')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/perezosos.jpg" width="66" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">PEREZOSOS</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'primtes-grandes-y-medianos') }" ng-click="setFilter('grupo', 'primtes-grandes-y-medianos')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/primates-grandes.png" width="64" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">PRIMATES GRANDES Y MEDIANOS</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'primates-pequenos') }" ng-click="setFilter('grupo', 'primates-pequenos')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/primates-pequenos.png" width="67" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">PRIMATES PEQUEÑOS</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'felinos-menores') }" ng-click="setFilter('grupo', 'felinos-menores')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/felinos-menores.png" width="53" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">FELINOS MENORES</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'coaties') }" ng-click="setFilter('grupo', 'coaties')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/coaties.png" width="72" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">COATÍES</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="reconoce__pregunta" ng-if="isQuestion(2) && isFilter('taxonomia', 'reptilia')">
            <div class="reconoce__pregunta__title">¿A qué tipo pertenece?</div>

            <div class="reconoce__pregunta__lista">
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'caimanes') }" ng-click="setFilter('grupo', 'caimanes')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/loros_grandes.png" width="30" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">CAIMANES</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'tortugas-de-rio') }" ng-click="setFilter('grupo', 'tortugas-de-rio')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/loros_chicos.png" width="48" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">TORTUGAS DE RÍO</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('grupo', 'tortugas-terrestres') }" ng-click="setFilter('grupo', 'tortugas-terrestres')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/loros_medianos.png" width="85" height="auto">
                        </div>

                        <div class="reconoce__pregunta__name">TORTUGAS TERRESTRES</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="reconoce__pregunta" ng-if="isQuestion(3) && isFilter('grupo', 'loros-grandes-y-guacamayos')">
            <div class="reconoce__pregunta__title">¿De qué color es su pecho?</div>

            <div class="reconoce__pregunta__lista">
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('color', 'principalmente-verde') }" ng-click="setFilter('color', 'principalmente-verde')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/plumas_verdes.png">
                        </div>

                        <div class="reconoce__pregunta__name">PRINCIPALMENTE VERDE</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('color', 'amarillo') }" ng-click="setFilter('color', 'amarillo')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/plumas_amarillas.png">
                        </div>

                        <div class="reconoce__pregunta__name">AMARILLO</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('color', 'rojo') }" ng-click="setFilter('color', 'rojo')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/plumas_rojas.png">
                        </div>

                        <div class="reconoce__pregunta__name">ROJO</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="reconoce__pregunta" ng-if="isQuestion(3) && isFilter('grupo', 'loros-medianos-y-pequenos')">
            <div class="reconoce__pregunta__title">¿De qué color es su pecho?</div>

            <div class="reconoce__pregunta__lista">
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('color', 'principalmente-verde') }" ng-click="setFilter('color', 'principalmente-verde')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/plumas_verdes.png">
                        </div>

                        <div class="reconoce__pregunta__name">PRINCIPALMENTE VERDE</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('color', 'azul') }" ng-click="setFilter('color', 'azul')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/plumas_amarillas.png">
                        </div>

                        <div class="reconoce__pregunta__name">Azul</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="reconoce__pregunta" ng-if="isQuestion(3) && isFilter('grupo', 'rapaces')">
            <div class="reconoce__pregunta__title">¿De qué color es su pecho?</div>

            <div class="reconoce__pregunta__lista">
                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('color', 'claro') }" ng-click="setFilter('color', 'claro')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/plumas_verdes.png">
                        </div>

                        <div class="reconoce__pregunta__name">Claro</div>
                    </div>
                </div>

                <div class="reconoce__pregunta__columna reconoce__pregunta__columna--2">
                    <div class="reconoce__pregunta__inner" ng-class="{'reconoce__pregunta__inner--active': isFilter('color', 'cafe-oscuro') }" ng-click="setFilter('color', 'cafe-oscuro')">
                       <div class="reconoce__pregunta__img">
                            <img src="img/plumas_amarillas.png">
                        </div>

                        <div class="reconoce__pregunta__name">Café Oscuro</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="reconoce__footer">
            <ul class="reconoce__filters" ng-if="filtros.taxonomia != null || filtros.grupo != null || filtros.color != null">
                <li class="reconoce__filter" ng-if="filtros.taxonomia != null" ng-click="setQuestion(1)">
                    <i class="ion-checkmark"></i> {{filtros.taxonomia}}
                </li>
                <li class="reconoce__filter" ng-if="filtros.grupo != null" ng-click="setQuestion(2)">
                    <i class="ion-checkmark"></i> {{filtros.grupo}}
                </li>
                <li class="reconoce__filter" ng-if="filtros.color != null" ng-click="setQuestion(3)">
                    <i class="ion-checkmark"></i> {{filtros.color}}
                </li>
            </ul>
            <p ng-if="filtros.taxonomia == null && filtros.grupo == null && filtros.color == null">
                Este detector se ha realizado con la información taxonómica de <strong>44 especies peruanas decomisadas frecuentemente</strong> por la Autoridad Nacional Forestal y de Fauna Silvestre.
            </p>
        </div>
    </ion-content>
</ion-view>
