<ion-view view-title="PROTEGE" class="reconoce bar__large" hide-back-button="true">
    <ion-nav-bar class="bar-stable">
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
        </ion-nav-buttons>

        <div class="bar__large__subtitle">Denuncia el tráfico ilegal</div>

        <div class="bar__large__image">
            <img src="img/loro_header.png">
        </div>
    </ion-nav-bar>
    <ion-content>
        <form class="denunciar__form" ng-submit="denunciar(denuncia)">
            <p>Brinda información sobre los lugares donde se venden o se tienen en cautiverio animales silvestres de origen ilegal.</p>

            <div class="login__form__group">
                <span class="login__form__label">
                    UBICACIÓN
                    <div class="input-form__sub-button"  ng-click="openMap()">
                      <i class="icon-camera ion-map"></i>
                    </div>
                </span>
                <input class="login__form__input" ng-model="denuncia.direccion" type="text">
            </div>

            <label class="login__form__group">
                <span class="login__form__label">TIPO DE LUGAR</span>
                <select class="login__form__select" ng-model="denuncia.tipo_locacion">
                    <option value="Establecimiento Comercial">ESTABLECIMIENTO COMERCIAL</option>
                    <option value="casa">CASA</option>
                    <option value="otro">OTRO</option>
                </select>
            </label>

            <div class="login__form__group">
                <span class="login__form__label">FOTO

                    <div class="input-form__sub-button">
                      <i class="icon-camera"><img src="img/camera.png"></i>
                      <select class="input-form__select-hack" ng-model="denuncia.typePicture"  ng-options="obj.text for obj in opciones track by obj.value" ng-change="pictureAction()">
                        <option value="">Cancel</option>
                      </select>
                    </div>

                </span>

                &nbsp;

                <img style="width: 100%; height: auto;" ng-show="denuncia.imgURI !== undefined" ng-src="{{denuncia.imgURI}}">
            </div>

            <label class="login__form__group">
                <span class="login__form__label">¿QUÉ CLASE DE ANIMAL ES?</span>
                <select class="login__form__select" ng-model="denuncia.clase" ng-change="cambioClase()">
                    <option value="anfibio">ANFIBIO</option>
                    <option value="reptil">REPTIL</option>
                    <option value="mamifero">MAMIFERO</option>
                    <option value="ave">AVE</option>
                    <option value="otros">OTRO</option>
                </select>
            </label>

            <label class="login__form__group">
                <span class="login__form__label">¿A QUÉ GRUPO PERTENECE?</span>
                <select class="login__form__select" ng-model="denuncia.grupo">
                    <option value="otros">OTRO</option>
                    <option value="{{key}}" ng-repeat="(key,value) in grupo">{{value}}</option>
                </select>
            </label>


            <label class="login__form__group">
                <span class="login__form__label">ESTADO DEL ANIMAL</span>
                <select class="login__form__select" ng-model="denuncia.estado">
                    <option value="vivo">VIVO</option>
                    <option value="vivo - mal herido">VIVO - MAL HERIDO</option>
                    <option value="vivo - enfermo">VIVO - ENFERMO</option>
                    <option value="muerto">MUERTO</option>
                    <option value="Producto">MUERTO - EN FORMA DE PRODUCTO</option>
                </select>
            </label>


            <label class="login__form__group">
                <span class="login__form__label">¿EN DÓNDE ESTÁ?</span>
                <select class="login__form__select" ng-model="denuncia.almacenamiento">
                    <option value="jaula">Jaula</option>
                    <option value="cajas">Cajas</option>
                    <option value="bolsas">Bolsas</option>
                    <option value="otro">OTRO</option>
                </select>
            </label>

            <label class="login__form__group">
                <span class="login__form__label">COMENTARIOS ADICIONALES</span>
                <input class="login__form__input" ng-model="denuncia.comentarios" type="text">
            </label>

            <button type="submit" class="button button-block button__red">DENUNCIAR</button>
        </form>
    </ion-content>
</ion-view>
