//font weights
$extralight: 100;
$light: 200;
$medium: 500;
$semibold: 600;
$bold: 700;

//fonts
$base-font-family: 'omnes';
$base-font-size: 14px !default;
$base-font-weight: $medium !default;

//colors
$pink: #e5128e;
$brown: #6d380e;
$orange: #f68b1b;
$yellow: #ffde4e;

$link-color: $pink !default;

$gutter: 30px;
