//font weights
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

//fonts
$base-font-family: 'Open Sans';
$base-font-size: 14px !default;
$base-font-weight: $regular !default;

//colors
$green: #19b46b;

$link-color: $green !default;

$gutter: 30px;
