.no-padding {
    padding: 0 !important;
}

.bar {
    border-bottom: 0 none;
}

.bg-white {
    background: white;
}

.bg-green {
    background: $green;
}

.menu .scroll-content {
    background: $green;

    &.has-header {
        top: 80px;
    }
}

.menu-content .scroll-content {
    padding: 25px;
}


@media not all, (-webkit-min-device-pixel-ratio: 1.5), not all, (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .bar {
        background-image: none;
    }
}
